# 1. 학습을 위한 데이터 구분 및 디렉토리 생성

In [10]:
import os
import pandas as pd
import random
import time
import string
from sklearn.model_selection import train_test_split

from pyjarowinkler import distance

In [3]:
base_path = 'LearningData'

# Columns
c = ['N/A','low', 'num','low&num','up', 'up&low','up&num', 'up&num&low',
     'spc', 'spc&low', 'spc&num', 'spc&num&low','spc&up', 'spc&up&low', 'spc&up&num', 'all']

LN   3
LN LNU + LNS 3  -> 7,11
LU NLU + LUS 5  -> 7,13
LS LNS + LUS  9  -> 11,13
NU LNU         6  -> 7
LNU LNU        7
LNS LNS        11
LNU+LNS+LUS+LUN ALL 7,11,13,14 -> 15

In [4]:
type_7  = [c[3]]           
type_8  = [c[3],[c[7],c[11]]]  
type_9  = [c[5],[c[7],c[13]]]   
type_10 = [c[9],[c[11],c[13]]]   
type_11 = [c[6],c[7]]           
type_12 = [c[7]]   
type_13 = [c[11]]   
type_14 = [[c[7],c[11],c[13],c[14]], c[15]]

extra_path = '/letter_specific_data'
type_7_path = os.path.join(base_path, 'type_7'+extra_path)
type_8_path = os.path.join(base_path, 'type_8'+extra_path)
type_9_path = os.path.join(base_path, 'type_9'+extra_path)
type_10_path = os.path.join(base_path, 'type_10'+extra_path)
type_11_path = os.path.join(base_path, 'type_11'+extra_path)
type_12_path = os.path.join(base_path, 'type_12'+extra_path)
type_13_path = os.path.join(base_path, 'type_13'+extra_path)
type_14_path = os.path.join(base_path, 'type_14'+extra_path)


if not os.path.exists(type_7_path):os.makedirs(type_7_path)
if not os.path.exists(type_8_path):os.makedirs(type_8_path)
if not os.path.exists(type_9_path):os.makedirs(type_9_path)
if not os.path.exists(type_10_path):os.makedirs(type_10_path)    
if not os.path.exists(type_11_path):os.makedirs(type_11_path)
if not os.path.exists(type_12_path):os.makedirs(type_12_path)    
if not os.path.exists(type_13_path):os.makedirs(type_13_path)    
if not os.path.exists(type_14_path):os.makedirs(type_14_path)

In [6]:
letter = list(string.ascii_lowercase) +['num']

In [7]:
def delete_single(src):
    
    if src <2:
        return np.nan
    else:
        return src
    
def SplitData(listin):
    
    length = len(listin)
    listout = list()
    
    tmp = random.sample(listin, length)
        
    for i in range(length-1):
        tmp_list = [tmp[0], tmp[i+1]]
        listout.append(tmp_list)
    
    return listout

def DropReindex(learn_data, TYPE):
    
    learn_data = learn_data.dropna(how='any').reset_index(drop=True)
    learn_data['length'] = learn_data[TYPE[0]].str.len()
    learn_data['length'] = learn_data['length'].apply(delete_single)

    learn_data = learn_data.dropna(how='any')
    learn_data = learn_data.drop('length', axis = 1)
    learn_data = learn_data.reset_index(drop=True)

    return learn_data

def ListExtend(listin):
    
    tmp = list()
    
    for i in range(len(listin)):
        out = listin['Splitted'][i]
        tmp.extend(out)
        
        if i%100000==0:
            print(i)

    return tmp

In [8]:
def DFandSave(learn_data, TYPE ,char):
    
    base = './LearningData/type_'+ str(TYPE)+ '/letter_specific_data/'
    save_path = base+str(char)+'.pickle'
    
    data_columns = ['src', 'tgt']
    pw_data = pd.DataFrame(learn_data, columns=data_columns)
    pw_data.to_pickle(save_path)
    
    print(char, 'Data Saved', 'length=',len(pw_data))

In [9]:
def SplitData_Multi(data_src, data_tgt):
    
    listout = list()
    
    for i in range(len(data_src)):
        src = data_src[i]
        
        for j in range(len(data_tgt)):
            tgt = data_tgt[j]
            tmp = [src,tgt]
            listout.append(tmp)
    
    return listout

# 2. 데이터 Split&Save

# Type7

In [93]:
for i in range(0,27):
    char = letter[i]
    print(char, 'Data Begin')
    
    # 데이터 로드
    load_path = './Preprocessed/' +str(char)+'.pickle'
    pw_df = pd.read_pickle(load_path)
    
    # 원하는 타입 추출
    learn_data = pw_df[type_7]
    print('length of original learn data:',len(learn_data))
    
    # 불필요한 데이터 drop 및 reindex
    learn_data = DropReindex(learn_data, type_7)
    print('length of processed learn data:',len(learn_data))
    
    # 길이가 2 이상인 데이터 나누기
    learn_data['Splitted'] = learn_data['low&num'].apply(SplitData)
    print('Data Splitted')
    
    # 나뉘어진 데이터 이어 붙이기 
    learn_data= ListExtend(learn_data)
    
    # src, tgt 데이터 프래임 생성 및 파일 저장
    DFandSave(learn_data,7,char)
    print('')

a Data Begin
length of original learn data: 8770116
length of processed learn data: 3418768
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
a Data Saved length= 6613331

b Data Begin
length of original learn data: 4914853
length of processed learn data: 2022125
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
b Data Saved length= 3651580

c Data Begin
length of original learn data: 4661423
length of processed learn data: 1851783
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
c Data Saved length= 3302388

d Data Begin
length of original learn data: 5593731
length of processed learn data: 2267495
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
d Data Saved length= 4334826

e Data Begin
length of original learn data: 2715231
length of processed learn data: 1022258
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
e Data Saved length= 1981045

f Data Begin
length of original learn data: 2582223
length of processed learn data: 988753
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
f Data Saved length= 2003986

g Data Begin
length of original learn data: 3284478
length of processed learn data: 1248812
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
g Data Saved length= 2432635

h Data Begin
length of original learn data: 2382683
length of processed learn data: 923361
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
h Data Saved length= 1621532

i Data Begin
length of original learn data: 2093863
length of processed learn data: 828173
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
i Data Saved length= 1654855

j Data Begin
length of original learn data: 4720419
length of processed learn data: 1867194
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
j Data Saved length= 3039752

k Data Begin
length of original learn data: 4982040
length of processed learn data: 2017603
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
k Data Saved length= 3876219

l Data Begin
length of original learn data: 4680674
length of processed learn data: 1847274
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
l Data Saved length= 3439713

m Data Begin
length of original learn data: 8157479
length of processed learn data: 3199748
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
m Data Saved length= 6052011

n Data Begin
length of original learn data: 3498824
length of processed learn data: 1387630
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
n Data Saved length= 2699520

o Data Begin
length of original learn data: 1508427
length of processed learn data: 544411
Data Splitted
0
100000
200000
300000
400000
500000
o Data Saved length= 1097272

p Data Begin
length of original learn data: 3667612
length of processed learn data: 1387697
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
p Data Saved length= 2619506

q Data Begin
length of original learn data: 379237
length of processed learn data: 164332
Data Splitted
0
100000
q Data Saved length= 326677

r Data Begin
length of original learn data: 4025951
length of processed learn data: 1547842
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
r Data Saved length= 2842056

s Data Begin
length of original learn data: 8751026
length of processed learn data: 3438505
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
s Data Saved length= 6462308

t Data Begin
length of original learn data: 4021928
length of processed learn data: 1577011
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
t Data Saved length= 2842565

u Data Begin
length of original learn data: 578985
length of processed learn data: 226447
Data Splitted
0
100000
200000
u Data Saved length= 525665

v Data Begin
length of original learn data: 2579178
length of processed learn data: 1025808
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
v Data Saved length= 2159189

w Data Begin
length of original learn data: 1800892
length of processed learn data: 720854
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
w Data Saved length= 1245346

x Data Begin
length of original learn data: 696787
length of processed learn data: 265962
Data Splitted
0
100000
200000
x Data Saved length= 444088

y Data Begin
length of original learn data: 1163990
length of processed learn data: 441682
Data Splitted
0
100000
200000
300000
400000
y Data Saved length= 829965

z Data Begin
length of original learn data: 1246548
length of processed learn data: 470221
Data Splitted
0
100000
200000
300000
400000
z Data Saved length= 935477

num Data Begin
length of original learn data: 2923676
length of processed learn data: 1268854
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
num Data Saved length= 12589163

In [101]:
# 올바른 전처리 결과 확인용
pd.read_pickle('./LearningData/type_7/letter_specific_data/b.pickle')

               src               tgt
0        900d1d344  900d1d34900d1d34
1        900d1d344          900d1d34
2        900d1d344         9900d1d34
3        900d1d344         900d1d341
4        ber090909        ber0909099
...            ...               ...
3651575   may821aw           may821a
3651576   may821aw        may821a123
3651577   may821aw           may821a
3651578   may821aw        may821aqwe
3651579     man420        max420djan

[3651580 rows x 2 columns]

In [102]:
# 전처리된 데이터 a~z, num 들을 로드한 후 1개의 df로 결합

data_columns = ['src', 'tgt']
pw_data = pd.DataFrame(columns=data_columns)

for i in range(0,27):
    char = letter[i]
    print(char, 'Data load and Append')
    
    load_path = './LearningData/type_7/letter_specific_data/'+str(char)+'.pickle'
    temp = pd.read_pickle(load_path)
    
    print(len(temp))
    pw_data = pw_data.append(temp)

a Data load and Append
6613331
b Data load and Append
3651580
c Data load and Append
3302388
d Data load and Append
4334826
e Data load and Append
1981045
f Data load and Append
2003986
g Data load and Append
2432635
h Data load and Append
1621532
i Data load and Append
1654855
j Data load and Append
3039752
k Data load and Append
3876219
l Data load and Append
3439713
m Data load and Append
6052011
n Data load and Append
2699520
o Data load and Append
1097272
p Data load and Append
2619506
q Data load and Append
326677
r Data load and Append
2842056
s Data load and Append
6462308
t Data load and Append
2842565
u Data load and Append
525665
v Data load and Append
2159189
w Data load and Append
1245346
x Data load and Append
444088
y Data load and Append
829965
z Data load and Append
935477
num Data load and Append
12589163

In [103]:
len(pw_data)

81622670

In [ ]:
# 데이터 저장

In [104]:
## type 7
save_path = type_7_path[:-20]
print('%s 갯수 : %d\n' % (type_7, len(pw_data)))
print(pw_data[:5])

file_name_src = pw_data.columns[0]
file_name_tgt = pw_data.columns[1]
print('%s -> %s'%(file_name_src, file_name_tgt))

# src, tgt 모두 저장(csv)
path1 = os.path.join(save_path, 'pw_all.pickle')
pw_data.to_pickle(path1)  
################################################################ split
df_train, df_tmp = train_test_split(pw_data, test_size=0.2)
df_valid, df_test = train_test_split(df_tmp, test_size=0.5)

# train, valid, test 저장(txt)
path = os.path.join(save_path, 'pw_train.pickle')
df_train.to_pickle(path)

path = os.path.join(save_path, 'pw_valid.pickle')
df_valid.to_pickle(path)

path = os.path.join(save_path, 'pw_test.pickle')
df_test.to_pickle(path)

['low&num'] 갯수 : 81622670

                src          tgt
0  aidos12345678901  ai123456789
1  aidos12345678901   a123456789
2           nikola1     nikola91
3           nikola1     nikola19
4           nikola1     nikola99
src -> tgt

In [ ]:
pd.read_pickle('./LearningData/type_1/pw_test.pickle')

# Type8

In [94]:
for i in range(1,27):
    char = letter[i]
    print(char, 'Data Begin')
    
    # 데이터 로드
    load_path = './Preprocessed/' +str(char)+'.pickle'
    pw_df = pd.read_pickle(load_path)
    
    # 원하는 타입 추출
    learn_data1 = pw_df[[type_8[0], type_8[1][0]]]
    learn_data2 = pw_df[[type_8[0], type_8[1][1]]]
    print('length of original learn data:',len(learn_data1))
    
    # 불필요한 데이터 drop 및 reindex
    learn_data1 = learn_data1.dropna(how='any').reset_index(drop=True)
    learn_data2 = learn_data2.dropna(how='any').reset_index(drop=True)
    
    learn_data2.rename(columns = {'spc&num&low':'up&num&low'}, inplace=True)
    learn_data = learn_data1.append(learn_data2)
    learn_data = learn_data.reset_index(drop=True)
    
    print('length of processed learn data:',len(learn_data))
    
    # 길이가 2 이상인 데이터 나누기
    learn_data['Splitted'] = learn_data.apply(lambda x:SplitData_Multi(x[type_8[0]], x[type_8[1][0]]), axis = 1)
    print('Data Splitted')
    
    # 나뉘어진 데이터 이어 붙이기 
    learn_data= ListExtend(learn_data)
    
    # src, tgt 데이터 프래임 생성 및 파일 저장
    DFandSave(learn_data,8,char)
    print('')

b Data Begin
length of original learn data: 4914853
length of processed learn data: 768615
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
b Data Saved length= 2698210

c Data Begin
length of original learn data: 4661423
length of processed learn data: 698341
Data Splitted
0
100000
200000
300000
400000
500000
600000
c Data Saved length= 2428094

d Data Begin
length of original learn data: 5593731
length of processed learn data: 929111
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
d Data Saved length= 3284164

e Data Begin
length of original learn data: 2715231
length of processed learn data: 436320
Data Splitted
0
100000
200000
300000
400000
e Data Saved length= 1569957

f Data Begin
length of original learn data: 2582223
length of processed learn data: 386658
Data Splitted
0
100000
200000
300000
f Data Saved length= 1499877

g Data Begin
length of original learn data: 3284478
length of processed learn data: 508816
Data Splitted
0
100000
200000
300000
400000
500000
g Data Saved length= 1822808

h Data Begin
length of original learn data: 2382683
length of processed learn data: 342483
Data Splitted
0
100000
200000
300000
h Data Saved length= 1139639

i Data Begin
length of original learn data: 2093863
length of processed learn data: 332099
Data Splitted
0
100000
200000
300000
i Data Saved length= 1223422

j Data Begin
length of original learn data: 4720419
length of processed learn data: 715006
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
j Data Saved length= 1984190

k Data Begin
length of original learn data: 4982040
length of processed learn data: 814534
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
k Data Saved length= 2830845

l Data Begin
length of original learn data: 4680674
length of processed learn data: 692179
Data Splitted
0
100000
200000
300000
400000
500000
600000
l Data Saved length= 2440215

m Data Begin
length of original learn data: 8157479
length of processed learn data: 1267302
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
m Data Saved length= 4277695

n Data Begin
length of original learn data: 3498824
length of processed learn data: 557607
Data Splitted
0
100000
200000
300000
400000
500000
n Data Saved length= 1930156

o Data Begin
length of original learn data: 1508427
length of processed learn data: 245244
Data Splitted
0
100000
200000
o Data Saved length= 863423

p Data Begin
length of original learn data: 3667612
length of processed learn data: 556793
Data Splitted
0
100000
200000
300000
400000
500000
p Data Saved length= 1966998

q Data Begin
length of original learn data: 379237
length of processed learn data: 51330
Data Splitted
0
q Data Saved length= 169440

r Data Begin
length of original learn data: 4025951
length of processed learn data: 635670
Data Splitted
0
100000
200000
300000
400000
500000
600000
r Data Saved length= 2036583

s Data Begin
length of original learn data: 8751026
length of processed learn data: 1334553
Data Splitted
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
s Data Saved length= 4538194

t Data Begin
length of original learn data: 4021928
length of processed learn data: 599695
Data Splitted
0
100000
200000
300000
400000
500000
t Data Saved length= 1889089

u Data Begin
length of original learn data: 578985
length of processed learn data: 86447
Data Splitted
0
u Data Saved length= 310819

v Data Begin
length of original learn data: 2579178
length of processed learn data: 425639
Data Splitted
0
100000
200000
300000
400000
v Data Saved length= 1678430

w Data Begin
length of original learn data: 1800892
length of processed learn data: 232253
Data Splitted
0
100000
200000
w Data Saved length= 733620

x Data Begin
length of original learn data: 696787
length of processed learn data: 90173
Data Splitted
0
x Data Saved length= 276670

y Data Begin
length of original learn data: 1163990
length of processed learn data: 157491
Data Splitted
0
100000
y Data Saved length= 560518

z Data Begin
length of original learn data: 1246548
length of processed learn data: 188752
Data Splitted
0
100000
z Data Saved length= 706637

num Data Begin
length of original learn data: 2923676
length of processed learn data: 254325
Data Splitted
0
100000
200000
num Data Saved length= 979430

In [107]:
pd.read_pickle('./LearningData/type_8/letter_specific_data/d.pickle')

                  src          tgt
0              sbt123    SBTsbt123
1           alex12044     Alex1204
2           aalex1204     Alex1204
3           alex12041     Alex1204
4            alex1204     Alex1204
...               ...          ...
3284159  toyotasupra3    toyota3.0
3284160    qwerty1310    qwerty34.
3284161   qwerty12345    qwerty34.
3284162     ul3gomaja      ul.3-go
3284163    dg97grus02  dg97grus02.

[3284164 rows x 2 columns]

In [108]:
data_columns = ['src', 'tgt']
pw_data = pd.DataFrame(columns=data_columns)

for i in range(0,27):
    char = letter[i]
    print(char, 'Data')
    
    load_path = './LearningData/type_8/letter_specific_data/'+str(char)+'.pickle'
    temp = pd.read_pickle(load_path)
    
    print(len(temp))
    pw_data = pw_data.append(temp)

a Data
4901173
b Data
2698210
c Data
2428094
d Data
3284164
e Data
1569957
f Data
1499877
g Data
1822808
h Data
1139639
i Data
1223422
j Data
1984190
k Data
2830845
l Data
2440215
m Data
4277695
n Data
1930156
o Data
863423
p Data
1966998
q Data
169440
r Data
2036583
s Data
4538194
t Data
1889089
u Data
310819
v Data
1678430
w Data
733620
x Data
276670
y Data
560518
z Data
706637
num Data
979430

In [109]:
len(pw_data)

50740296

In [110]:
## type 8
save_path = type_8_path[:-20]

print('%s 갯수 : %d\n' % (type_8, len(pw_data)))
print(pw_data[:5])

file_name_src = pw_data.columns[0]
file_name_tgt = pw_data.columns[1]
print('%s -> %s'%(file_name_src, file_name_tgt))

# src, tgt 전체 데이터 저장(csv)
path1 = os.path.join(save_path, 'pw_all.pickle')
pw_data.to_pickle(path1)  

################################################################ split
df_train, df_tmp = train_test_split(pw_data, test_size=0.2)
df_valid, df_test = train_test_split(df_tmp, test_size=0.5)

# train, valid, test 저장(txt)
path = os.path.join(save_path, 'pw_train.pickle')
df_train.to_pickle(path)

path = os.path.join(save_path, 'pw_valid.pickle')
df_valid.to_pickle(path)

path = os.path.join(save_path, 'pw_test.pickle')
df_test.to_pickle(path)

['low&num', ['up&num&low', 'spc&num&low']] 갯수 : 50740296

              src           tgt
0       aidar1969  aiDAR7aidar5
1       aidar8690  aiDAR7aidar5
2       aidar1969  aiDAR7aidar5
3  baldo72baldo72       Baldo72
4         baldo72       Baldo72
src -> tgt

# Type9

In [95]:
for i in range(0,27):
    char = letter[i]
    print(char, 'Data Begin')
    
    # 데이터 로드
    load_path = './Preprocessed/' +str(char)+'.pickle'
    pw_df = pd.read_pickle(load_path)
    
    # 원하는 타입 추출
    learn_data1 = pw_df[[type_9[0], type_9[1][0]]]
    learn_data2 = pw_df[[type_9[0], type_9[1][1]]]
    print('length of original learn data:',len(learn_data1))
    
    # 불필요한 데이터 drop 및 reindex
    learn_data1 = learn_data1.dropna(how='any').reset_index(drop=True)
    learn_data2 = learn_data2.dropna(how='any').reset_index(drop=True)
    
    learn_data2.rename(columns = {'spc&up&low':'up&num&low'}, inplace=True)
    learn_data = learn_data1.append(learn_data2)
    learn_data = learn_data.reset_index(drop=True)
    
    print('length of processed learn data:',len(learn_data))
    
    # 길이가 2 이상인 데이터 나누기
    learn_data['Splitted'] = learn_data.apply(lambda x:SplitData_Multi(x[type_9[0]], x[type_9[1][0]]), axis = 1)
    print('Data Splitted')
    
    # 나뉘어진 데이터 이어 붙이기 
    learn_data= ListExtend(learn_data)
    
    # src, tgt 데이터 프래임 생성 및 파일 저장
    DFandSave(learn_data,9,char)
    print('')

a Data Begin
length of original learn data: 8770116
length of processed learn data: 154090
Data Splitted
0
100000
a Data Saved length= 543164

b Data Begin
length of original learn data: 4914853
length of processed learn data: 85637
Data Splitted
0
b Data Saved length= 341429

c Data Begin
length of original learn data: 4661423
length of processed learn data: 70369
Data Splitted
0
c Data Saved length= 266571

d Data Begin
length of original learn data: 5593731
length of processed learn data: 107066
Data Splitted
0
100000
d Data Saved length= 413348

e Data Begin
length of original learn data: 2715231
length of processed learn data: 49328
Data Splitted
0
e Data Saved length= 202941

f Data Begin
length of original learn data: 2582223
length of processed learn data: 42648
Data Splitted
0
f Data Saved length= 179276

g Data Begin
length of original learn data: 3284478
length of processed learn data: 57043
Data Splitted
0
g Data Saved length= 212303

h Data Begin
length of original learn data: 2382683
length of processed learn data: 37483
Data Splitted
0
h Data Saved length= 163565

i Data Begin
length of original learn data: 2093863
length of processed learn data: 41712
Data Splitted
0
i Data Saved length= 164827

j Data Begin
length of original learn data: 4720419
length of processed learn data: 64545
Data Splitted
0
j Data Saved length= 233312

k Data Begin
length of original learn data: 4982040
length of processed learn data: 84276
Data Splitted
0
k Data Saved length= 312604

l Data Begin
length of original learn data: 4680674
length of processed learn data: 66491
Data Splitted
0
l Data Saved length= 255873

m Data Begin
length of original learn data: 8157479
length of processed learn data: 130807
Data Splitted
0
100000
m Data Saved length= 531017

n Data Begin
length of original learn data: 3498824
length of processed learn data: 58171
Data Splitted
0
n Data Saved length= 208440

o Data Begin
length of original learn data: 1508427
length of processed learn data: 27328
Data Splitted
0
o Data Saved length= 106113

p Data Begin
length of original learn data: 3667612
length of processed learn data: 62978
Data Splitted
0
p Data Saved length= 248546

q Data Begin
length of original learn data: 379237
length of processed learn data: 4572
Data Splitted
0
q Data Saved length= 15865

r Data Begin
length of original learn data: 4025951
length of processed learn data: 68615
Data Splitted
0
r Data Saved length= 263725

s Data Begin
length of original learn data: 8751026
length of processed learn data: 140033
Data Splitted
0
100000
s Data Saved length= 538012

t Data Begin
length of original learn data: 4021928
length of processed learn data: 63723
Data Splitted
0
t Data Saved length= 262359

u Data Begin
length of original learn data: 578985
length of processed learn data: 11485
Data Splitted
0
u Data Saved length= 49964

v Data Begin
length of original learn data: 2579178
length of processed learn data: 51156
Data Splitted
0
v Data Saved length= 201794

w Data Begin
length of original learn data: 1800892
length of processed learn data: 23320
Data Splitted
0
w Data Saved length= 98563

x Data Begin
length of original learn data: 696787
length of processed learn data: 8670
Data Splitted
0
x Data Saved length= 31607

y Data Begin
length of original learn data: 1163990
length of processed learn data: 16002
Data Splitted
0
y Data Saved length= 61762

z Data Begin
length of original learn data: 1246548
length of processed learn data: 22280
Data Splitted
0
z Data Saved length= 85601

num Data Begin
length of original learn data: 2923676
length of processed learn data: 21129
Data Splitted
0
num Data Saved length= 100383

In [111]:
data_columns = ['src', 'tgt']
pw_data = pd.DataFrame(columns=data_columns)

for i in range(0,27):
    char = letter[i]
    print(char, 'Data')
    
    load_path = './LearningData/type_9/letter_specific_data/'+str(char)+'.pickle'
    temp = pd.read_pickle(load_path)
    
    print(len(temp))
    pw_data = pw_data.append(temp)

a Data
543164
b Data
341429
c Data
266571
d Data
413348
e Data
202941
f Data
179276
g Data
212303
h Data
163565
i Data
164827
j Data
233312
k Data
312604
l Data
255873
m Data
531017
n Data
208440
o Data
106113
p Data
248546
q Data
15865
r Data
263725
s Data
538012
t Data
262359
u Data
49964
v Data
201794
w Data
98563
x Data
31607
y Data
61762
z Data
85601
num Data
100383

In [113]:
pd.read_pickle('./LearningData/type_9/letter_specific_data/f.pickle')

                       src                tgt
0                 aUGekWSY         aUGekWSY11
1                 aUGekWSY     72aUGekWSY1172
2                 aUGekWSY       aUGekWSY1172
3                 aUGekWSY         aUGekWSY11
4       SlinnotnaSlinnotna         Slinnotna1
...                    ...                ...
179271           Fxllyelen       Fxlly_condoR
179272             Fylhttd        Fylhttd-nkn
179273             FylhttD        Fylhttd-nkn
179274           Fyodaroff  Fyodaroff@mail.ru
179275         FyutkfHekzn    Fyutksyfuevty.r

[179276 rows x 2 columns]

In [114]:
len(pw_data)

6092964

In [115]:
## type 9
save_path = type_9_path[:-20]

print('%s 갯수 : %d\n' % (type_9, len(pw_data)))
print(pw_data[:5])

file_name_src = pw_data.columns[0]
file_name_tgt = pw_data.columns[1]
print('%s -> %s'%(file_name_src, file_name_tgt))

# src, tgt 전체 데이터 저장(csv)
path1 = os.path.join(save_path, 'pw_all.pickle')
pw_data.to_pickle(path1)  

################################################################ split
df_train, df_tmp = train_test_split(pw_data, test_size=0.2)
df_valid, df_test = train_test_split(df_tmp, test_size=0.5)

# train, valid, test 저장(txt)
path = os.path.join(save_path, 'pw_train.pickle')
df_train.to_pickle(path)

path = os.path.join(save_path, 'pw_valid.pickle')
df_valid.to_pickle(path)

path = os.path.join(save_path, 'pw_test.pickle')
df_test.to_pickle(path)

['up&low', ['up&num&low', 'spc&up&low']] 갯수 : 6092964

          src           tgt
0    Andemtal  Andemtal1123
1      Andemt  Andemtal1123
2     Andemta  Andemtal1123
3  AndemtalQq  Andemtal1123
4   Andemtala  Andemtal1123
src -> tgt

# Type10

In [96]:
for i in range(0,27):
    char = letter[i]
    print(char, 'Data Begin')
    
    # 데이터 로드
    load_path = './Preprocessed/' +str(char)+'.pickle'
    pw_df = pd.read_pickle(load_path)
    
    # 원하는 타입 추출
    learn_data1 = pw_df[[type_10[0], type_10[1][0]]]
    learn_data2 = pw_df[[type_10[0], type_10[1][1]]]
    print('length of original learn data:',len(learn_data1))
    
    # 불필요한 데이터 drop 및 reindex
    learn_data1 = learn_data1.dropna(how='any').reset_index(drop=True)
    learn_data2 = learn_data2.dropna(how='any').reset_index(drop=True)
    
    learn_data2.rename(columns = {'spc&up&low':'spc&num&low'}, inplace=True)
    learn_data = learn_data1.append(learn_data2)
    learn_data = learn_data.reset_index(drop=True)
    
    print('length of processed learn data:',len(learn_data))
    
    # 길이가 2 이상인 데이터 나누기
    learn_data['Splitted'] = learn_data.apply(lambda x:SplitData_Multi(x[type_10[0]], x[type_10[1][0]]), axis = 1)
    print('Data Splitted')
    
    # 나뉘어진 데이터 이어 붙이기 
    learn_data= ListExtend(learn_data)
    
    # src, tgt 데이터 프래임 생성 및 파일 저장
    DFandSave(learn_data,10,char)
    print('')

a Data Begin
length of original learn data: 8770116
length of processed learn data: 163355
Data Splitted
0
100000
a Data Saved length= 555046

b Data Begin
length of original learn data: 4914853
length of processed learn data: 61068
Data Splitted
0
b Data Saved length= 202684

c Data Begin
length of original learn data: 4661423
length of processed learn data: 51715
Data Splitted
0
c Data Saved length= 180353

d Data Begin
length of original learn data: 5593731
length of processed learn data: 89013
Data Splitted
0
d Data Saved length= 318253

e Data Begin
length of original learn data: 2715231
length of processed learn data: 45001
Data Splitted
0
e Data Saved length= 153885

f Data Begin
length of original learn data: 2582223
length of processed learn data: 30806
Data Splitted
0
f Data Saved length= 94926

g Data Begin
length of original learn data: 3284478
length of processed learn data: 44242
Data Splitted
0
g Data Saved length= 141564

h Data Begin
length of original learn data: 2382683
length of processed learn data: 22822
Data Splitted
0
h Data Saved length= 63984

i Data Begin
length of original learn data: 2093863
length of processed learn data: 35616
Data Splitted
0
i Data Saved length= 110917

j Data Begin
length of original learn data: 4720419
length of processed learn data: 45138
Data Splitted
0
j Data Saved length= 141272

k Data Begin
length of original learn data: 4982040
length of processed learn data: 73541
Data Splitted
0
k Data Saved length= 233560

l Data Begin
length of original learn data: 4680674
length of processed learn data: 58262
Data Splitted
0
l Data Saved length= 184938

m Data Begin
length of original learn data: 8157479
length of processed learn data: 114223
Data Splitted
0
100000
m Data Saved length= 349809

n Data Begin
length of original learn data: 3498824
length of processed learn data: 58624
Data Splitted
0
n Data Saved length= 176852

o Data Begin
length of original learn data: 1508427
length of processed learn data: 28655
Data Splitted
0
o Data Saved length= 84507

p Data Begin
length of original learn data: 3667612
length of processed learn data: 47018
Data Splitted
0
p Data Saved length= 131896

q Data Begin
length of original learn data: 379237
length of processed learn data: 3683
Data Splitted
0
q Data Saved length= 11511

r Data Begin
length of original learn data: 4025951
length of processed learn data: 52657
Data Splitted
0
r Data Saved length= 161795

s Data Begin
length of original learn data: 8751026
length of processed learn data: 142892
Data Splitted
0
100000
s Data Saved length= 437591

t Data Begin
length of original learn data: 4021928
length of processed learn data: 47776
Data Splitted
0
t Data Saved length= 142972

u Data Begin
length of original learn data: 578985
length of processed learn data: 8192
Data Splitted
0
u Data Saved length= 26485

v Data Begin
length of original learn data: 2579178
length of processed learn data: 49913
Data Splitted
0
v Data Saved length= 148770

w Data Begin
length of original learn data: 1800892
length of processed learn data: 15399
Data Splitted
0
w Data Saved length= 49480

x Data Begin
length of original learn data: 696787
length of processed learn data: 4997
Data Splitted
0
x Data Saved length= 13791

y Data Begin
length of original learn data: 1163990
length of processed learn data: 18027
Data Splitted
0
y Data Saved length= 49916

z Data Begin
length of original learn data: 1246548
length of processed learn data: 19705
Data Splitted
0
z Data Saved length= 71133

num Data Begin
length of original learn data: 2923676
length of processed learn data: 27518
Data Splitted
0
num Data Saved length= 115338

In [117]:
pd.read_pickle('./LearningData/type_10/letter_specific_data/k.pickle')

                  src            tgt
0             kimbum!      kimbum99!
1             kimbum!      kimbum99!
2             kimbum!      kimbum99!
3             kimbum!      kimbum99!
4             kimbum!      kimbum99!
...               ...            ...
233555  kyushu.kudrya  Kyushu.kudrya
233556  kyushu.kudrya  Kyushu.kudrya
233557  kyushu.kudrya  Kyushu.kudrya
233558     kyuuzaki_l     Kyuuzaki_L
233559     kyuuzaki_l      Kyuuzaki_

[233560 rows x 2 columns]

In [118]:
data_columns = ['src', 'tgt']
pw_data = pd.DataFrame(columns=data_columns)

for i in range(0,27):
    char = letter[i]
    print(char, 'Data')
    
    load_path = './LearningData/type_10/letter_specific_data/'+str(char)+'.pickle'
    temp = pd.read_pickle(load_path)
    
    print(len(temp))
    pw_data = pw_data.append(temp)

a Data
555046
b Data
202684
c Data
180353
d Data
318253
e Data
153885
f Data
94926
g Data
141564
h Data
63984
i Data
110917
j Data
141272
k Data
233560
l Data
184938
m Data
349809
n Data
176852
o Data
84507
p Data
131896
q Data
11511
r Data
161795
s Data
437591
t Data
142972
u Data
26485
v Data
148770
w Data
49480
x Data
13791
y Data
49916
z Data
71133
num Data
115338

In [119]:
len(pw_data)

4353228

In [120]:
## type 10
save_path = type_10_path[:-20]

print('%s 갯수 : %d\n' % (type_10, len(pw_data)))
print(pw_data[:5])

file_name_src = pw_data.columns[0]
file_name_tgt = pw_data.columns[1]
print('%s -> %s'%(file_name_src, file_name_tgt))

# src, tgt 전체 데이터 저장(csv)
path1 = os.path.join(save_path, 'pw_all.pickle')
pw_data.to_pickle(path1)  

################################################################ split
df_train, df_tmp = train_test_split(pw_data, test_size=0.2)
df_valid, df_test = train_test_split(df_tmp, test_size=0.5)

# train, valid, test 저장(txt)
path = os.path.join(save_path, 'pw_train.pickle')
df_train.to_pickle(path)

path = os.path.join(save_path, 'pw_valid.pickle')
df_valid.to_pickle(path)

path = os.path.join(save_path, 'pw_test.pickle')
df_test.to_pickle(path)

['spc&low', ['spc&num&low', 'spc&up&low']] 갯수 : 4353228

          src            tgt
0     a-----a       a-----a1
1     a-----a       a-----05
2     a----ha       a-----05
3      a----k       a-----05
4  no_pasaran  no_pasaran123
src -> tgt

# Type11

In [97]:
for i in range(0,27):
    char = letter[i]
    print(char, 'Data Begin')
    
    # 데이터 로드
    load_path = './Preprocessed/' +str(char)+'.pickle'
    pw_df = pd.read_pickle(load_path)
    
    # 원하는 타입 추출
    learn_data = pw_df[type_11]
    print('length of original learn data:',len(learn_data))
    
    # 불필요한 데이터 drop 및 reindex
    learn_data = learn_data.dropna(how='any').reset_index(drop=True)
    print('length of processed learn data:',len(learn_data))
    
    # 길이가 2 이상인 데이터 나누기
    learn_data['Splitted'] = learn_data.apply(lambda x:SplitData_Multi(x[type_11[0]], x[type_11[1]]), axis = 1)
    print('Data Splitted')
    
    # 나뉘어진 데이터 이어 붙이기 
    learn_data= ListExtend(learn_data)
    
    # src, tgt 데이터 프래임 생성 및 파일 저장
    DFandSave(learn_data,11,char)
    print('')

a Data Begin
length of original learn data: 8770116
length of processed learn data: 234925
Data Splitted
0
100000
200000
a Data Saved length= 2623709

b Data Begin
length of original learn data: 4914853
length of processed learn data: 117951
Data Splitted
0
100000
b Data Saved length= 561503

c Data Begin
length of original learn data: 4661423
length of processed learn data: 100930
Data Splitted
0
100000
c Data Saved length= 314133

d Data Begin
length of original learn data: 5593731
length of processed learn data: 135143
Data Splitted
0
100000
d Data Saved length= 623665

e Data Begin
length of original learn data: 2715231
length of processed learn data: 66287
Data Splitted
0
e Data Saved length= 235427

f Data Begin
length of original learn data: 2582223
length of processed learn data: 65609
Data Splitted
0
f Data Saved length= 335233

g Data Begin
length of original learn data: 3284478
length of processed learn data: 84131
Data Splitted
0
g Data Saved length= 692969

h Data Begin
length of original learn data: 2382683
length of processed learn data: 44151
Data Splitted
0
h Data Saved length= 218496

i Data Begin
length of original learn data: 2093863
length of processed learn data: 58651
Data Splitted
0
i Data Saved length= 297692

j Data Begin
length of original learn data: 4720419
length of processed learn data: 77839
Data Splitted
0
j Data Saved length= 702884

k Data Begin
length of original learn data: 4982040
length of processed learn data: 120768
Data Splitted
0
100000
k Data Saved length= 833286

l Data Begin
length of original learn data: 4680674
length of processed learn data: 99967
Data Splitted
0
l Data Saved length= 447788

m Data Begin
length of original learn data: 8157479
length of processed learn data: 178281
Data Splitted
0
100000
m Data Saved length= 1520412

n Data Begin
length of original learn data: 3498824
length of processed learn data: 88389
Data Splitted
0
n Data Saved length= 902511

o Data Begin
length of original learn data: 1508427
length of processed learn data: 47275
Data Splitted
0
o Data Saved length= 406136

p Data Begin
length of original learn data: 3667612
length of processed learn data: 83485
Data Splitted
0
p Data Saved length= 404185

q Data Begin
length of original learn data: 379237
length of processed learn data: 5821
Data Splitted
0
q Data Saved length= 17777

r Data Begin
length of original learn data: 4025951
length of processed learn data: 84120
Data Splitted
0
r Data Saved length= 570866

s Data Begin
length of original learn data: 8751026
length of processed learn data: 187350
Data Splitted
0
100000
s Data Saved length= 1254802

t Data Begin
length of original learn data: 4021928
length of processed learn data: 79622
Data Splitted
0
t Data Saved length= 541025

u Data Begin
length of original learn data: 578985
length of processed learn data: 14145
Data Splitted
0
u Data Saved length= 52634

v Data Begin
length of original learn data: 2579178
length of processed learn data: 75753
Data Splitted
0
v Data Saved length= 396161

w Data Begin
length of original learn data: 1800892
length of processed learn data: 30742
Data Splitted
0
w Data Saved length= 272198

x Data Begin
length of original learn data: 696787
length of processed learn data: 13760
Data Splitted
0
x Data Saved length= 147999

y Data Begin
length of original learn data: 1163990
length of processed learn data: 24158
Data Splitted
0
y Data Saved length= 103959

z Data Begin
length of original learn data: 1246548
length of processed learn data: 32187
Data Splitted
0
z Data Saved length= 230417

num Data Begin
length of original learn data: 2923676
length of processed learn data: 39129
Data Splitted
0
num Data Saved length= 128672

In [122]:
pd.read_pickle('./LearningData/type_11/letter_specific_data/g.pickle')

                     src          tgt
0              PKG306166     Pkg30616
1              PPKG30616     Pkg30616
2       PKG30616PKG30616     Pkg30616
3              PKG306161     Pkg30616
4               PKG30616     Pkg30616
...                  ...          ...
692964        850340728G  850340728Ga
692965        850340728G  850340728Gw
692966   89503407298G123  850340728Ga
692967   89503407298G123  850340728Gw
692968          QWE12QWE     Qwe12qwe

[692969 rows x 2 columns]

In [123]:
data_columns = ['src', 'tgt']
pw_data = pd.DataFrame(columns=data_columns)

for i in range(0,27):
    char = letter[i]
    print(char, 'Data')
    
    load_path = './LearningData/type_11/letter_specific_data/'+str(char)+'.pickle'
    temp = pd.read_pickle(load_path)
    
    print(len(temp))
    pw_data = pw_data.append(temp)

a Data
2623709
b Data
561503
c Data
314133
d Data
623665
e Data
235427
f Data
335233
g Data
692969
h Data
218496
i Data
297692
j Data
702884
k Data
833286
l Data
447788
m Data
1520412
n Data
902511
o Data
406136
p Data
404185
q Data
17777
r Data
570866
s Data
1254802
t Data
541025
u Data
52634
v Data
396161
w Data
272198
x Data
147999
y Data
103959
z Data
230417
num Data
128672

In [124]:
len(pw_data)

14836539

In [125]:
## type 11
save_path = type_11_path[:-20]

print('%s 갯수 : %d\n' % (type_11, len(pw_data)))
print(pw_data[:5])

file_name_src = pw_data.columns[0]
file_name_tgt = pw_data.columns[1]
print('%s -> %s'%(file_name_src, file_name_tgt))

# src, tgt 전체 데이터 저장(csv)
path1 = os.path.join(save_path, 'pw_all.pickle')
pw_data.to_pickle(path1)  

################################################################ split
df_train, df_tmp = train_test_split(pw_data, test_size=0.2)
df_valid, df_test = train_test_split(df_tmp, test_size=0.5)

# train, valid, test 저장(txt)
path = os.path.join(save_path, 'pw_train.pickle')
df_train.to_pickle(path)

path = os.path.join(save_path, 'pw_valid.pickle')
df_valid.to_pickle(path)

path = os.path.join(save_path, 'pw_test.pickle')
df_test.to_pickle(path)

['up&num', 'up&num&low'] 갯수 : 14836539

           src         tgt
0  RRAMPS12345  Ramps12345
1   RAMPS12345  Ramps12345
2  RAMPS123451  Ramps12345
3  RAMPS123455  Ramps12345
4     CENTER2K    Center2k
src -> tgt

# Type12

In [98]:
for i in range(0,27):
    char = letter[i]
    print(char, 'Data Begin')
    
    # 데이터 로드
    load_path = './Preprocessed/' +str(char)+'.pickle'
    pw_df = pd.read_pickle(load_path)
    
    # 원하는 타입 추출
    learn_data = pw_df[type_12]
    print('length of original learn data:',len(learn_data))
    
    # 불필요한 데이터 drop 및 reindex
    learn_data = DropReindex(learn_data, type_12)
    print('length of processed learn data:',len(learn_data))
    
    # 길이가 2 이상인 데이터 나누기
    learn_data['Splitted'] = learn_data['up&num&low'].apply(SplitData)
    print('Data Splitted')
    
    # 나뉘어진 데이터 이어 붙이기 
    learn_data= ListExtend(learn_data)
    
    # src, tgt 데이터 프래임 생성 및 파일 저장
    DFandSave(learn_data,12,char)
    print('')

a Data Begin
length of original learn data: 8770116
length of processed learn data: 359667
Data Splitted
0
100000
200000
300000
a Data Saved length= 1045507

b Data Begin
length of original learn data: 4914853
length of processed learn data: 183544
Data Splitted
0
100000
b Data Saved length= 408586

c Data Begin
length of original learn data: 4661423
length of processed learn data: 156535
Data Splitted
0
100000
c Data Saved length= 327019

d Data Begin
length of original learn data: 5593731
length of processed learn data: 223935
Data Splitted
0
100000
200000
d Data Saved length= 496610

e Data Begin
length of original learn data: 2715231
length of processed learn data: 105655
Data Splitted
0
100000
e Data Saved length= 240907

f Data Begin
length of original learn data: 2582223
length of processed learn data: 99680
Data Splitted
0
f Data Saved length= 229862

g Data Begin
length of original learn data: 3284478
length of processed learn data: 127780
Data Splitted
0
100000
g Data Saved length= 355568

h Data Begin
length of original learn data: 2382683
length of processed learn data: 78790
Data Splitted
0
h Data Saved length= 181306

i Data Begin
length of original learn data: 2093863
length of processed learn data: 86335
Data Splitted
0
i Data Saved length= 202332

j Data Begin
length of original learn data: 4720419
length of processed learn data: 156740
Data Splitted
0
100000
j Data Saved length= 395426

k Data Begin
length of original learn data: 4982040
length of processed learn data: 176155
Data Splitted
0
100000
k Data Saved length= 438154

l Data Begin
length of original learn data: 4680674
length of processed learn data: 147513
Data Splitted
0
100000
l Data Saved length= 333881

m Data Begin
length of original learn data: 8157479
length of processed learn data: 279560
Data Splitted
0
100000
200000
m Data Saved length= 749031

n Data Begin
length of original learn data: 3498824
length of processed learn data: 129318
Data Splitted
0
100000
n Data Saved length= 366049

o Data Begin
length of original learn data: 1508427
length of processed learn data: 61857
Data Splitted
0
o Data Saved length= 178881

p Data Begin
length of original learn data: 3667612
length of processed learn data: 127000
Data Splitted
0
100000
p Data Saved length= 295519

q Data Begin
length of original learn data: 379237
length of processed learn data: 10340
Data Splitted
0
q Data Saved length= 22830

r Data Begin
length of original learn data: 4025951
length of processed learn data: 144533
Data Splitted
0
100000
r Data Saved length= 358599

s Data Begin
length of original learn data: 8751026
length of processed learn data: 285992
Data Splitted
0
100000
200000
s Data Saved length= 714798

t Data Begin
length of original learn data: 4021928
length of processed learn data: 138094
Data Splitted
0
100000
t Data Saved length= 363164

u Data Begin
length of original learn data: 578985
length of processed learn data: 23667
Data Splitted
0
u Data Saved length= 53540

v Data Begin
length of original learn data: 2579178
length of processed learn data: 98779
Data Splitted
0
v Data Saved length= 244609

w Data Begin
length of original learn data: 1800892
length of processed learn data: 52612
Data Splitted
0
w Data Saved length= 141974

x Data Begin
length of original learn data: 696787
length of processed learn data: 23245
Data Splitted
0
x Data Saved length= 71095

y Data Begin
length of original learn data: 1163990
length of processed learn data: 32795
Data Splitted
0
y Data Saved length= 75453

z Data Begin
length of original learn data: 1246548
length of processed learn data: 44282
Data Splitted
0
z Data Saved length= 116899

num Data Begin
length of original learn data: 2923676
length of processed learn data: 57787
Data Splitted
0
num Data Saved length= 141490

In [127]:
pd.read_pickle('./LearningData/type_12/letter_specific_data/l.pickle')

                    src                 tgt
0            Sarah19861           Sarah1986
1            Sarah19861  Sarah1986Sarah1986
2            Sarah19861          Sarah19866
3            Sarah19861          SSarah1986
4       Vernonsmommie11      Vernonsmommie1
...                 ...                 ...
333876    zZ456852qQ778          zZ456852qQ
333877    zZ456852qQ778            zZ456852
333878       zZqQ456852       zZ456852qQ778
333879       zZqQ456852          zZ456852qQ
333880     LzyNieto1231         LzyNieto123

[333881 rows x 2 columns]

In [128]:
data_columns = ['src', 'tgt']
pw_data = pd.DataFrame(columns=data_columns)

for i in range(0,27):
    char = letter[i]
    print(char, 'Data')
    
    load_path = './LearningData/type_12/letter_specific_data/'+str(char)+'.pickle'
    temp = pd.read_pickle(load_path)
    
    print(len(temp))
    pw_data = pw_data.append(temp)

a Data
1045507
b Data
408586
c Data
327019
d Data
496610
e Data
240907
f Data
229862
g Data
355568
h Data
181306
i Data
202332
j Data
395426
k Data
438154
l Data
333881
m Data
749031
n Data
366049
o Data
178881
p Data
295519
q Data
22830
r Data
358599
s Data
714798
t Data
363164
u Data
53540
v Data
244609
w Data
141974
x Data
71095
y Data
75453
z Data
116899
num Data
141490

In [129]:
len(pw_data)

8549089

In [130]:
## type 12
save_path = type_12_path[:-20]

print('%s 갯수 : %d\n' % (type_12, len(pw_data)))
print(pw_data[:5])

file_name_src = pw_data.columns[0]
file_name_tgt = pw_data.columns[1]
print('%s -> %s'%(file_name_src, file_name_tgt))

# src, tgt 전체 데이터 저장(csv)
path1 = os.path.join(save_path, 'pw_all.pickle')
pw_data.to_pickle(path1)  

################################################################ split
df_train, df_tmp = train_test_split(pw_data, test_size=0.2)
df_valid, df_test = train_test_split(df_tmp, test_size=0.5)

# train, valid, test 저장(txt)
path = os.path.join(save_path, 'pw_train.pickle')
df_train.to_pickle(path)

path = os.path.join(save_path, 'pw_valid.pickle')
df_valid.to_pickle(path)

path = os.path.join(save_path, 'pw_test.pickle')
df_test.to_pickle(path)

['up&num&low'] 갯수 : 8549089

         src      tgt
0     29Kfyf  29Kfyf1
1     29Kfyf  29Kfyfq
2  Y4nPK4qwe   Y4nPK4
3  Y4nPK4qwe  Y4nPK41
4  Y4nPK4qwe  Y4nPK4q
src -> tgt

# Type13

In [99]:
for i in range(0,27):
    char = letter[i]
    print(char, 'Data Begin')
    
    # 데이터 로드
    load_path = './Preprocessed/' +str(char)+'.pickle'
    pw_df = pd.read_pickle(load_path)
    
    # 원하는 타입 추출
    learn_data = pw_df[type_13]
    print('length of original learn data:',len(learn_data))
    
    # 불필요한 데이터 drop 및 reindex
    learn_data = DropReindex(learn_data, type_13)
    print('length of processed learn data:',len(learn_data))
    
    # 길이가 2 이상인 데이터 나누기
    learn_data['Splitted'] = learn_data['spc&num&low'].apply(SplitData)
    print('Data Splitted')
    
    # 나뉘어진 데이터 이어 붙이기 
    learn_data= ListExtend(learn_data)
    
    # src, tgt 데이터 프래임 생성 및 파일 저장
    DFandSave(learn_data,13,char)
    print('')

a Data Begin
length of original learn data: 8770116
length of processed learn data: 184801
Data Splitted
0
100000
a Data Saved length= 412115

b Data Begin
length of original learn data: 4914853
length of processed learn data: 76768
Data Splitted
0
b Data Saved length= 165433

c Data Begin
length of original learn data: 4661423
length of processed learn data: 53528
Data Splitted
0
c Data Saved length= 113659

d Data Begin
length of original learn data: 5593731
length of processed learn data: 89693
Data Splitted
0
d Data Saved length= 183925

e Data Begin
length of original learn data: 2715231
length of processed learn data: 48397
Data Splitted
0
e Data Saved length= 100106

f Data Begin
length of original learn data: 2582223
length of processed learn data: 34232
Data Splitted
0
f Data Saved length= 68703

g Data Begin
length of original learn data: 3284478
length of processed learn data: 52790
Data Splitted
0
g Data Saved length= 111690

h Data Begin
length of original learn data: 2382683
length of processed learn data: 26253
Data Splitted
0
h Data Saved length= 65759

i Data Begin
length of original learn data: 2093863
length of processed learn data: 42178
Data Splitted
0
i Data Saved length= 89150

j Data Begin
length of original learn data: 4720419
length of processed learn data: 53149
Data Splitted
0
j Data Saved length= 107699

k Data Begin
length of original learn data: 4982040
length of processed learn data: 93765
Data Splitted
0
k Data Saved length= 205732

l Data Begin
length of original learn data: 4680674
length of processed learn data: 72322
Data Splitted
0
l Data Saved length= 145439

m Data Begin
length of original learn data: 8157479
length of processed learn data: 129767
Data Splitted
0
100000
m Data Saved length= 260052

n Data Begin
length of original learn data: 3498824
length of processed learn data: 69742
Data Splitted
0
n Data Saved length= 133095

o Data Begin
length of original learn data: 1508427
length of processed learn data: 31819
Data Splitted
0
o Data Saved length= 62954

p Data Begin
length of original learn data: 3667612
length of processed learn data: 55658
Data Splitted
0
p Data Saved length= 110796

q Data Begin
length of original learn data: 379237
length of processed learn data: 6011
Data Splitted
0
q Data Saved length= 13026

r Data Begin
length of original learn data: 4025951
length of processed learn data: 60734
Data Splitted
0
r Data Saved length= 120389

s Data Begin
length of original learn data: 8751026
length of processed learn data: 162595
Data Splitted
0
100000
s Data Saved length= 308430

t Data Begin
length of original learn data: 4021928
length of processed learn data: 58203
Data Splitted
0
t Data Saved length= 115507

u Data Begin
length of original learn data: 578985
length of processed learn data: 11022
Data Splitted
0
u Data Saved length= 24432

v Data Begin
length of original learn data: 2579178
length of processed learn data: 58478
Data Splitted
0
v Data Saved length= 114912

w Data Begin
length of original learn data: 1800892
length of processed learn data: 19774
Data Splitted
0
w Data Saved length= 44264

x Data Begin
length of original learn data: 696787
length of processed learn data: 6573
Data Splitted
0
x Data Saved length= 13414

y Data Begin
length of original learn data: 1163990
length of processed learn data: 20296
Data Splitted
0
y Data Saved length= 41135

z Data Begin
length of original learn data: 1246548
length of processed learn data: 26325
Data Splitted
0
z Data Saved length= 58423

num Data Begin
length of original learn data: 2923676
length of processed learn data: 31895
Data Splitted
0
num Data Saved length= 82041

In [133]:
pd.read_pickle('./LearningData/type_13/letter_specific_data/u.pickle')

                      src                  tgt
0                u-2-8181             u-2-8182
1             albatros.13         albatross.13
2                 u-63qwe              u-63123
3           u-a-center123          u-a-center1
4           u-a-center123          u-a-center1
...                   ...                  ...
24427  aleksey.qwerty2012  aleksey.qwerty2012a
24428         butcher-77a           butcher-77
24429         butcher-77a            butcher-7
24430     uzhik81@mail.ru             uzhik87%
24431     uzhik81@mail.ru             uzhik87%

[24432 rows x 2 columns]

In [134]:
data_columns = ['src', 'tgt']
pw_data = pd.DataFrame(columns=data_columns)

for i in range(0,27):
    char = letter[i]
    print(char, 'Data')
    
    load_path = './LearningData/type_13/letter_specific_data/'+str(char)+'.pickle'
    temp = pd.read_pickle(load_path)
    
    print(len(temp))
    pw_data = pw_data.append(temp)

a Data
412115
b Data
165433
c Data
113659
d Data
183925
e Data
100106
f Data
68703
g Data
111690
h Data
65759
i Data
89150
j Data
107699
k Data
205732
l Data
145439
m Data
260052
n Data
133095
o Data
62954
p Data
110796
q Data
13026
r Data
120389
s Data
308430
t Data
115507
u Data
24432
v Data
114912
w Data
44264
x Data
13414
y Data
41135
z Data
58423
num Data
82041

In [135]:
len(pw_data)

3272280

In [136]:
## type 13
save_path = type_13_path[:-20]

print('%s 갯수 : %d\n' % (type_13, len(pw_data)))
print(pw_data[:5])

file_name_src = pw_data.columns[0]
file_name_tgt = pw_data.columns[1]
print('%s -> %s'%(file_name_src, file_name_tgt))

# src, tgt 전체 데이터 저장(csv)
path1 = os.path.join(save_path, 'pw_all.pickle')
pw_data.to_pickle(path1)  

################################################################ split
df_train, df_tmp = train_test_split(pw_data, test_size=0.2)
df_valid, df_test = train_test_split(df_tmp, test_size=0.5)

# train, valid, test 저장(txt)
path = os.path.join(save_path, 'pw_train.pickle')
df_train.to_pickle(path)

path = os.path.join(save_path, 'pw_valid.pickle')
df_valid.to_pickle(path)

path = os.path.join(save_path, 'pw_test.pickle')
df_test.to_pickle(path)

['spc&num&low'] 갯수 : 3272280

                    src                   tgt
0  chimp1984a@gmail.com  chimp1984a@yahoo.com
1            a*bruck*31             a*bruck*3
2              a-----a1              a-----05
3              a----b19              a----b10
4               a-00123               a-00qwe
src -> tgt

# Type14

In [62]:
'LNU+LNS+LUS+LUN ALL 7,11,13,14 -> 15'

'LNU+LNS+LUS+LUN ALL 7,11,13,14 -> 15'

In [140]:
for i in range(0,1):
    char = letter[i]
    print(char, 'Data Begin')
    
    # 데이터 로드
    load_path = './Preprocessed/' +str(char)+'.pickle'
    pw_df = pd.read_pickle(load_path)
    
    # 원하는 타입 추출
    learn_data1 = pw_df[[type_14[0][0], type_14[1]]]
    learn_data2 = pw_df[[type_14[0][1], type_14[1]]]
    learn_data3 = pw_df[[type_14[0][2], type_14[1]]]
    learn_data4 = pw_df[[type_14[0][3], type_14[1]]]
    print('length of original learn data:',len(learn_data1))
    
    # 불필요한 데이터 drop 및 reindex
    learn_data1 = learn_data1.dropna(how='any').reset_index(drop=True)
    learn_data2 = learn_data2.dropna(how='any').reset_index(drop=True)
    learn_data3 = learn_data3.dropna(how='any').reset_index(drop=True)
    learn_data4 = learn_data4.dropna(how='any').reset_index(drop=True)

    learn_data2.rename(columns = {'spc&num&low':'up&num&low'}, inplace=True)
    learn_data3.rename(columns = { 'spc&up&low':'up&num&low'}, inplace=True)
    learn_data4.rename(columns = { 'spc&up&num':'up&num&low'}, inplace=True)

    learn_data = learn_data1.append(learn_data2)
    learn_data = learn_data.append(learn_data3)
    learn_data = learn_data.append(learn_data4)

    learn_data = learn_data.reset_index(drop=True)
    print('length of processed learn data:',len(learn_data))
    
    
    
    # 길이가 2 이상인 데이터 나누기
    learn_data['Splitted'] = learn_data.apply(lambda x:SplitData_Multi(x[type_14[0][0]], x[type_14[1]]), axis = 1)
    print('Data Splitted')

    # 나뉘어진 데이터 이어 붙이기 
    learn_data= ListExtend(learn_data)
    
    # src, tgt 데이터 프래임 생성 및 파일 저장
    DFandSave(learn_data,14,char)
    print('')

a Data Begin
length of original learn data: 8770116
length of processed learn data: 139845
Data Splitted
0
100000
a Data Saved length= 473153

In [138]:
pd.read_pickle('./LearningData/type_14/letter_specific_data/g.pickle')

                     src              tgt
0           Duygia201555     Duygia20155!
1            Duygia20155     Duygia20155!
2           DDuygia20155     Duygia20155!
3           Duygia201551     Duygia20155!
4          Policeman1233    Policeman123!
...                  ...              ...
109409        GWAPOME_00        Gwapome_0
109410        GWAPOME_00       Gwapome_00
109411     GWEN_BYERS126    Gwen_Byers126
109412     GWEN_BYERS126     Gwen_Byers12
109413  GWENN.SCHMIT6550  Gwenn.Schmit655

[109414 rows x 2 columns]

In [141]:
data_columns = ['src', 'tgt']
pw_data = pd.DataFrame(columns=data_columns)

for i in range(0,27):
    char = letter[i]
    print(char, 'Data')
    
    load_path = './LearningData/type_14/letter_specific_data/'+str(char)+'.pickle'
    temp = pd.read_pickle(load_path)
    
    print(len(temp))
    pw_data = pw_data.append(temp)

a Data
473153
b Data
165018
c Data
141354
d Data
222051
e Data
108696
f Data
79432
g Data
109414
h Data
96603
i Data
62074
j Data
140487
k Data
187291
l Data
128510
m Data
282343
n Data
121785
o Data
48279
p Data
103615
q Data
8926
r Data
117470
s Data
251341
t Data
112545
u Data
20430
v Data
82343
w Data
50556
x Data
11885
y Data
28364
z Data
43684
num Data
73342

In [142]:
len(pw_data)

3270991

In [143]:
## type 14
save_path = type_14_path[:-20]

print('%s 갯수 : %d\n' % (type_14, len(pw_data)))
print(pw_data[:5])

file_name_src = pw_data.columns[0]
file_name_tgt = pw_data.columns[1]
print('%s -> %s'%(file_name_src, file_name_tgt))

# src, tgt 전체 데이터 저장(csv)
path1 = os.path.join(save_path, 'pw_all.pickle')
pw_data.to_pickle(path1)  

################################################################ split
df_train, df_tmp = train_test_split(pw_data, test_size=0.2)
df_valid, df_test = train_test_split(df_tmp, test_size=0.5)

# train, valid, test 저장(txt)
path = os.path.join(save_path, 'pw_train.pickle')
df_train.to_pickle(path)

path = os.path.join(save_path, 'pw_valid.pickle')
df_valid.to_pickle(path)

path = os.path.join(save_path, 'pw_test.pickle')
df_test.to_pickle(path)

[['up&num&low', 'spc&num&low', 'spc&up&low', 'spc&up&num'], 'all'] 갯수 : 3270991

            src            tgt
0      4Funn1ng     4Funn1ng#1
1  Dialog543123  Dialog543123$
2   Rcirf090687      Rc.irf006
3   Rcirf090687     Rc.irf0068
4   Rcirf090687    Rc.irf00687
src -> tgt